/* SkeletonMovies.css */

.skeleton {
    background-color: #e0e0e0;
    margin-bottom: 8px;
    border-radius: 4px;
}

.skeleton-wrapper {
    position: relative;
    overflow: hidden;
    margin: auto;
    padding: 10px 16px;
    border-radius: 4px;
    width: 100%;
}

.skeleton.title {
    width: 100%;
    height: 36px;
    margin-bottom: 28px;
}

.skeleton.text {
    width: 100%;
    height: 12px;
    margin-bottom: 12px;
}

.skeleton.card {
    width: 175px;
    height: 300px;
}  


.skeleton.poster {
    width: 250px;
    height: 400px;
}  

@media (max-width: 576px) {
    .skeleton.card {
        width: 100%;
        height: 90%;
    }   
    .movie__img--box {
        height: 100%;
    }
}

/* animation effect */

.shimmer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 850ms infinite;
}
.shimmer {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: skewX(-20deg);
}


@keyframes loading {
    0% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(-60%);
    }
    100% {
        transform: translateX(150%);
    }
}